<div>
  <button
    type="button"
    class="btn btn-primary"
    data-toggle="modal"
    (click)="newModal.open()"
  >
    Add
  </button>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Shares</th>
      <th scope="col">Company</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of shareHolders; index as id">
      <th scope="row">{{ id + 1 }}</th>
      <td>{{ item.name }}</td>
      <td>{{ item.stocks }}</td>
      <td>{{ item.companyId.name }}</td>
      <td>
        <div class="action-button">
          <button
            type="button"
            data-toggle="modal"
            (click)="newModal.open(item)"
            class="btn btn-success"
          >
            Edit
          </button>
          <button
            type="button"
            (click)="deleteModal.open(item)"
            class="btn btn-warning"
          >
            Delete
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<app-create-share-holder
  title="New Shareholder"
  #newModal
  (onCreate)="creteHandler($event)"
  (onEdit)="editHandler($event)"
></app-create-share-holder>
<app-delete #deleteModal (onDeleteConfirm)="deleteConfirmHandler($event)">
</app-delete>
