.summary{
    margin-top: 4rem;
    .card{
        width: 200px;
        margin: 0 1rem;
    }
}
.grid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
    margin-top: 1rem;
}